<div class="container">
  
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>What is...</h2>
      <h1><%= @person.full_name %></h1>
      <h2>known for?</h2>
    </div>
  </div>

  <div class="row">
    <div class="col=md-12">
      <%= form_tag(:choice), remote: true do %>
        <% @bios.each do |bio| %>
          <%= submit_tag bio.text, class: "btn btn-primary btn-block" %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>