$(document).ready(function() {

  <% if @bio.real? %>
    $("#js-msg").addClass("alert-success");
    $(".right-wrong").html("CORRECT!");
  <% else %>
    $("#js-msg").addClass("alert-danger");
    $(".right-wrong").html("Incorrect.");
  <% end %>

  $("#js-msg").show();

  $("#next-person-link").append("<div><%= escape_javascript(link_to "MOVE TO NEXT PERSON", random_person, class: "hidden btn btn-primary btn-block") %></div>");

  $("h2").hide();

  $("form").hide();

  $("h3").removeClass("hidden");

  $("a.btn").removeClass("hidden");

})